<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="ie=edge" http-equiv="X-UA-Compatible" />
  <title>Document</title>
  <link href="style.css" rel="stylesheet" />
</head>

<body>
  <div id="root">
  <div class="main-panel">
    <input type="text" v-model="newTask" @keyup.enter="addTask">
    <button class="btnAddTask" @click="addTask" >Add Task</button>
  </div>
    <ul>
      <li v-for="task in tasks" :key="task.id" v-if="!task.completed" 
      @click="()=>checkDone(task.id)">
      {{task.title}}
      <span @click.stop="()=>deleteTask(task.id)">&#10005</span>
      </li>
    </ul>

    <h2>completed tasks</h2>
    <ul>
      <li  v-for="task in completedTask" :key="task.id"  @click="()=>checkDone(task.id)" :class="{'strike' : task.completed}">{{task.title}}
       <span @click.stop="()=>deleteTask(task.id)">&#10005</span>
      </li>
    </ul>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="index.js"></script>
</body>

</html>